body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f9;
}

.admin-dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #0f172a;
  color: white;
  height: auto;
  padding: 20px;
}

/* Main */
.main1{
  flex: 1;
  padding: 20px;
}

.main1 h1{
  color: #0b3d2e;
}

/* Card */
.admin-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: fit-content;
  background: white;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.admin-card h2{
  color: #0b3d2e;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Buttons */
button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;

}

.accept {
  background: green;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  gap: 10px;
  width: 100%;
}

.decline {
  background: red;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

/* Progress Bar */
.progress-bar {
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

.progress1 {
  background: green;
  color: white;
  padding: 7px;
  margin-bottom: 7px;
  text-align: center;
  height: 100%;
}

/* Bar Chart */
.bar-chart {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: flex-end;
  height: 150px;
}

.bar {
  width: 40px;
  background: #3b82f6;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .admin-card {
    grid-template-columns: 1fr !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
   }

   table {
    font-size: 14px;
    align-items: center;
    justify-content: center;
    }


   .sidebar {
    display: none;
   }

   .admin-dashboard {
    flex-direction: column;
   }

   .main1 {
    padding: 10px;
   }

   .bar-chart {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    height: 150px;
    gap: 3px;
   }

   .bar {
    width: 40px;
    flex-direction: row;
    /*transform: translateX(0);*/
   }

   .progress-bar {
     height: auto;
     transform: translateX(0);
   }

   .progress1 {
     transform: translateX(0);
     height: 100%;
   }
    }